<launch>
        <!-- Reset odom -->
        <node pkg="rostopic" type="rostopic" name="reset_odom" args="pub /mobile_base/commands/reset_odometry std_msgs/Empty"/>
        <!-- Set QR tracker -->	
        <node pkg="visp_auto_tracker" type="visp_auto_tracker" name="visp_auto_tracker">
        <param name="model_path" value="$(find visp_auto_tracker)/models" />
        <param name="model_name" value="pattern" />
        <param name="debug_display" value="True" />

        <remap from="/visp_auto_tracker/camera_info" to="/camera/rgb/camera_info"/>
        <remap from="/visp_auto_tracker/image_raw" to="/camera/rgb/image_raw"/>
        </node> 

        <!-- Set QR reader -->
        <node pkg="zbar_ros" type="barcode_reader_node" name="barcode_reader_node" >
        <remap from="/image" to="/camera/rgb/image_raw"/>
        </node>

        <!-- Set map server -->	
        <arg name="map_file" default="/home/projturtlebot/Documents/workspace_ros/src/TurtleBot-pkgs/turtlebot_navigation/map/aip_hall.yaml"/>
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

        <!-- Set tf broadcaster-->
        <node pkg="turtlebot_navigation" type="localisation_node" name="localisation_node" output="screen"/>
        <node pkg="tf" type="static_transform_publisher" name="marker_tf_publisher" args="2.0 1.0 0.3 0.0 0.0 0.0 1.0 map marker1 100" />

        <!-- Set rviz -->
        <node pkg="rviz" type="rviz" name="rviz" args="-d /home/projturtlebot/Documents/workspace_ros/src/TurtleBot-pkgs/turtlebot_navigation/config/localisation.rviz" />

</launch>
