<launch>
    
    <!-- Reset odom -->
    <node pkg="rostopic" type="rostopic" name="reset_odom" args="pub /mobile_base/commands/reset_odometry std_msgs/Empty"/>
    <!-- TF broadcaster -->
    <node pkg="tf" type="static_transform_publisher" name="base_tf_publisher" args="0.0 0.0 0.0 0.0 0.0 0.0 1.0 base_footprint base_link 100" />
    <node pkg="turtlebot_proj_nav" type="localisation_broadcaster_node" name="localisation_broadcaster_node" output="screen"/> 
    
    <arg name="custom_param_file" default="$(find turtlebot_proj_nav)/param/dummy.yaml"/>
    <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />
    
    <!-- We must specify an absolute topic name because if not it will be prefixed by "$(arg camera)".
         Probably is a bug in the nodelet manager: https://github.com/ros/nodelet_core/issues/7 --> 
    <arg name="scan_topic" value="/scan" />
  </include>

  <!-- Map server -->
  <arg name="map_file" default="$(find turtlebot_proj_nav)/maps/aip_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <node pkg="tf" type="static_transform_publisher" name="marker_tf_publisher" args="2.0 1.0 0.0 0.0 -0.707 0.0 0.707 map marker_0 100" />

  <!-- Amcl -->
  <arg name="initial_pose_x" default="0.0"/> 
  <arg name="initial_pose_y" default="0.0"/> 
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(find turtlebot_proj_nav)/launch/includes/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="2.0"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <include file="$(find turtlebot_proj_nav)/launch/includes/move_base.launch.xml">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>
  
  <!-- Simple command -->
  <node pkg="turtlebot_proj_nav" name="command" type="command_node"/>

  <!-- Set rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d /home/projturtlebot/Documents/workspace_ros/src/TurtleBot-pkgs/turtlebot_proj_nav/config/localisation.rviz" />

</launch>

